openapi: 3.1.0
info:
    title: Largo
    version: 42.0.0
paths:
    /largo:
        get:
            summary: Get largo
            operationId: get-largo
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LargoInfoResponseBody'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
        post:
            summary: Post largo
            operationId: post-largo
            parameters:
                - name: x-title
                  in: header
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TempoRequestBody'
                required: true
            responses:
                "200":
                    description: OK
                    headers:
                        TraceId:
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TempoResponseBody'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
components:
    schemas:
        ErrorDetail:
            type: object
            additionalProperties: false
            properties:
                location:
                    type: string
                    description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
                message:
                    type: string
                    description: Error message text
                value:
                    description: The value at the given location
        ErrorModel:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://example.com/schemas/ErrorModel.json
                    readOnly: true
                detail:
                    type: string
                    description: A human-readable explanation specific to this occurrence of the problem.
                    examples:
                        - Property foo is required but is missing.
                errors:
                    type: array
                    description: Optional list of individual error details
                    items:
                        $ref: '#/components/schemas/ErrorDetail'
                instance:
                    type: string
                    description: A URI reference that identifies the specific occurrence of the problem.
                    format: uri
                    examples:
                        - https://example.com/error-log/abc123
                status:
                    type: integer
                    description: HTTP status code
                    format: int64
                    examples:
                        - 400
                title:
                    type: string
                    description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
                    examples:
                        - Bad Request
                type:
                    type: string
                    description: A URI reference to human-readable documentation for the error.
                    format: uri
                    default: about:blank
                    examples:
                        - https://example.com/errors/example
        LargoInfoResponseBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://example.com/schemas/LargoInfoResponseBody.json
                    readOnly: true
                description:
                    type: string
                tempo_max:
                    type: integer
                    format: int64
                tempo_min:
                    type: integer
                    format: int64
            required:
                - description
                - tempo_min
                - tempo_max
        TempoRequestBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://example.com/schemas/TempoRequestBody.json
                    readOnly: true
                tempo:
                    type: integer
                    description: Tempo in bpm
                    format: int64
                title:
                    type: string
                urn:
                    type: string
                    pattern: '^skybert.net:largo:'
            required:
                - tempo
        TempoResponseBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://example.com/schemas/TempoResponseBody.json
                    readOnly: true
                largo:
                    type: boolean
                tempo:
                    type: integer
                    description: How fast is largo music? (bpm)
                    format: int64
                    examples:
                        - 40
                title:
                    type: string
            required:
                - tempo
                - largo
